[submodule "2012-fall-infra-update"]
	path = 2012-fall-infra-update
	url = git://github.com/cwebberOps/2012-fall-infra-update.git
[submodule "zfs-api-preso"]
	path = zfs-api-preso
	url = git://github.com/cwebberOps/zfs-api-preso.git
[submodule "scale11x-tdd_for_ops"]
	path = scale11x-tdd_for_ops
	url = git://github.com/cwebberOps/scale11x-tdd_for_ops.git
